*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%; 
}
#nav img{
    opacity: 0.8;
    height:90px;
}
#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 100px;
    gap: 40px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 600;
}
#cursor{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(188, 190, 26);
    position: fixed;
    z-index: 99;
}

#vid{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 80px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "EAT.DRINK.SLEEP";
    color: black;
    position: absolute;
    top: -2px;
    left: -2px;
    -webkit-text-stroke: 1px red;
    z-index: -1;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
}
#page1 p{
    font-size: 15px;
    font-weight: 500;
    width: 40%;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    white-space: nowrap;
    position: relative;
    z-index: 99;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    text-transform: uppercase;
    display: inline-block;
    font-size: 100px;
    margin-right: 10px;
    font-weight: 900px;
    font-family: gilroy;
    color: transparent;
    transition: all linear ;
    -webkit-text-stroke: 1px #95c11E;
}
#scroller h4:hover{
    color:yellow;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#about{
    margin-top: 10px;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding : 0px 50px
}
#about img{
    height: 250px;
    width:250px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us{
    width: 50%;
    text-align: center;
}
#about-us p{
    font-size: 20px;
    line-height: 26px;
}
#cards-container{
    height: 48vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
}
.cards{
    height: 80%;
    width: 24%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    z-index: 99;
    transition: all ease 0.6s;
}
#card1{
 background-image: url(https://plus.unsplash.com/premium_photo-1701060557037-698fd5525657?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
}
#card2{
    background-image: url(https://images.unsplash.com/photo-1702523792144-7a862712875f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
}
#card3{
    background-image: url(https://images.unsplash.com/photo-1682686578023-dc680e7a3aeb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(119, 128, 0);
    padding-top: 100px;
    padding: 30px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h3{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.overlay p{
    color: black;
}
.cards .overlay:hover{
    opacity:1;
}
.cards:hover{
    transform: rotate3d(1,1,1,20deg);
}
#green-div{
    height: 14vh;
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease;
    animation: colorChange 5s infinite;
}
@keyframes colorChange {
    0% { background-color: #cbd7ff; }
    25% { background-color: #b3ffb3; }
    50% { background-color: #add8e6; }
    75% { background-color: #ffc0cb; }
    100% { background-color: #c2f0c2; }
  }
#green-div img{
    height: 100%;
    object-fit: cover;
}
#page3{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3>p{
    font-size: 30px;
    font-weight:700;
    width: 60%;
    line-height :40px;
    text-align: center;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    text-align: left;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 8px;
}
